# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mhakcesme\Desktop\C,C++,Python, Matlab\ders_kodları\2_OpenCV ile Görüntü İşleme\2_video play\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
